
<div class="container1">
    <table class="table1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Location</th>
                <th>Service</th>
                <th>Date</th>
                <th>Category</th>
                <th>Bank</th>
                <th>IFSC</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of array[0]">
                <td>{{ character.name }}</td>
                <td>{{ character.email }}</td>
                <td>{{ character.location }}</td>
                <td>{{ character.service }}</td>
                <td>{{ character.date }}</td>
                <td>{{ character.category }}</td>
                <td>{{ character.bank }}</td>
                <td>{{ character.ifsc }}</td>
                <td>{{ character.amount }}</td>
            </tr>
        </tbody>
    </table>
</div>