<h1 class="heading1"><span>Pack</span>age</h1>
<a href="packdash"><button class="btn1">ADD</button></a>
<section>
    <div class="tab">
        <table>
            <caption>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Amount</th>
                    <th>Services</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of alluserData">
                    <td>{{ user.event1 }}</td>
                    <td>{{ user.amount1}}</td>
                    <td>{{ user.service1 }}</td>
                </tr>
            </tbody>
        </caption>
        </table>
    </div>
</section>