<h1 class="heading1"><span>ADD</span>Image</h1>
<a href="imgupload"><button class="btn1">ADD</button></a>
<section>
    <div class="tab">
        <table>
            <caption>
            <thead>
                <tr>
                    <th>Add Images</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of alluserData">
                    <td><img alt="image" src="{{user.upload}}"></td>
                    
                </tr>
            </tbody>
        </caption>
        </table>
    </div>
</section>