<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>branches</h3>
            <a href="#"> <em class="fas fa-map-marker-alt"></em> mumbai </a>
            <a href="#"> <em class="fas fa-map-marker-alt"></em> canada </a>
            <a href="#"> <em class="fas fa-map-marker-alt"></em> delhi </a>
            <a href="#"> <em class="fas fa-map-marker-alt"></em>  asam </a>
            <a href="#"> <em class="fas fa-map-marker-alt"></em> chennai </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="home"> <em class="fas fa-arrow-right"></em> home </a>
            <a href="service"> <em class="fas fa-arrow-right"></em> service </a>
            <a href="about"> <em class="fas fa-arrow-right"></em> about </a>
            <a href="gallery"> <em class="fas fa-arrow-right"></em> gallery </a>
            <a href="price"> <em class="fas fa-arrow-right"></em> price </a>
            <a href="review"> <em class="fas fa-arrow-right"></em> reivew </a>
            <a href="contact"> <em class="fas fa-arrow-right"></em> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <em class="fas fa-phone"></em> +123-456-7890 </a>
            <a href="#"> <em class="fas fa-phone"></em> +111-222-3333 </a>
            <a href="#"> <em class="fas fa-envelope"></em> basco0126@gmail.com </a>
            <a href="#"> <em class="fas fa-envelope"></em> chainsyspvtltd@gmail.com </a>
            <a href="#"> <em class="fas fa-map-marker-alt"></em> mumbai, india - 400104 </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <em class="fab fa-facebook-f"></em> facebook </a>
            <a href="#"> <em class="fab fa-twitter"></em> twitter </a>
            <a href="#"> <em class="fab fa-instagram"></em> instagram </a>
            <a href="#"> <em class="fab fa-linkedin"></em> linkedin </a>
        </div>

    </div>

    <div class="credit"> its time to <span>celebrate!</span> the best event organizers </div>

</section>
