<section class="about" id="about">

    <h1 class="heading"><span>Dance</span>!! </h1>

    <div class="row">

        <div class="image">
            <a href="anim"> <img src="../../images/musdan.jpg" alt=""></a>
        </div>

        <div class="content">
            <h3>we will give a very special celebration for you</h3>
            <p>Online event management allows you to manage your event using technology solutions.</p>
            <p> Online event management software helps enhance event-goers' experience, but it also makes the event
                planner's life easier by making the event planning process more seamless.</p>
            <a href="footer" class="btn">contact us</a>
            <a href="pay" class="btn">Book Now</a>
        </div>

    </div>

</section>