<section class="admin" id="admin">

    <h1 class="heading"> <span>Online</span> Event Management </h1>
    <div class="box-container">

        <div class="box">
            <a href="cdash">
            <h3>User Records</h3>
        </a>
        </div>

        <div class="box">
            <a href="display">
                <h3>Booking Records</h3>
            </a>
        </div>

        <div class="box">
            <a href="packdash1">
            <h3>Package</h3></a>
        </div>

        <div class="box">
            <a href="eventupdate1">
            <h3>Events</h3></a>
        </div>

        <div class="box">
            <a href="imgupload1">
            <h3>Gallery</h3></a>
        </div>

        <div class="box">
            <a href="feedback1">
            <h3>review</h3></a>
        </div>


    </div>

</section>