<h1 class="heading1"><span>Feed</span>Back</h1>
<section>
    <div class="tab">
        <table>
            <caption>Feed Back</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Event</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of alluserData">
                    <td>{{ user.name1 }}</td>
                    <td>{{ user.event}}</td>
                    <td>{{ user.comment }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>