<section class="contact" id="contact">

    <h1 class="heading"> <span>Package</span> Add </h1>

    <form [formGroup]="PackageForm" (ngSubmit)="saving(this.PackageForm.value)">
        <div class="inputBox">
            <input type="text" placeholder="event name" formControlName="event1">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="PackageForm.controls['event1'].touched && PackageForm.hasError('required','event1')">
                    *event is required</span>
            </div>
            <input type="text" placeholder="amount" formControlName="amount1">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="PackageForm.controls['amount1'].touched && PackageForm.hasError('required','amount1')">
                    *amount is required</span>
            </div>
        </div>
       
        <textarea name="" placeholder="service name" id="" cols="30" rows="10" formControlName="service1"></textarea>
        <!-- <h4 class="serviceheading">Services</h4>
        <label>
            <input type="checkbox" class="radio" value="Food" name="service" />Food
        </label>
        
        <label>
            <input type="checkbox" class="radio" value="Dancing" name="service" />Dancing
        </label> -->
        
        <input type="submit" value="ADD Package" class="btn">
    </form>

</section>