<section class="contact" id="contact">

    <h1 class="heading"> <span>Feedback</span> Form </h1>

    <form [formGroup]="feedForm" (ngSubmit)="saving(this.feedForm.value)">
        <div class="inputBox">
            <input type="text" placeholder="Enter Your Name" formControlName="name1">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="feedForm.controls['name1'].touched && feedForm.hasError('required','name1')">
                    *event name is required</span>
            </div>
            <input type="text" placeholder="Event Name" formControlName="event">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="feedForm.controls['event'].touched && feedForm.hasError('required','event')">
                    *event name is required</span>
            </div>
        </div>
      
        <textarea name="" placeholder="Your Comments" id="" cols="30" rows="10" formControlName="comment"></textarea>
        <div class="validator">
            <span class="text-danger"
                *ngIf="feedForm.controls['comment'].touched && feedForm.hasError('required','comment')">
                *event name is required</span>
        </div>
        <input type="submit" value="Enter Your Feedback" class="btn">
    </form>

</section>