<section class="contact" id="contact">


    <form [formGroup]="paymentForm" (ngSubmit)="saving(this.paymentForm.value)">
        <h1 class="heading1"> <span>Personal</span>Details</h1>
        <div class="inputBox">
            <input type="text" placeholder=" enter your name" formControlName="name">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="paymentForm.controls['name'].touched && paymentForm.hasError('required','name')">
                    *name is required</span>
            </div>
            <input type="email" placeholder="enter your email" formControlName="email">
            <div class="validator">
                <span *ngIf="email?.invalid && email?.touched">
                    <div *ngIf="email.errors?.required" class="text-danger">
                        Email is required</div>
                    <div *ngIf="email.errors?.invalid" class="text-danger">Please
                        provide
                        a valid email address</div>
                </span>
            </div>
            <input type="date" placeholder="service date" formControlName="date">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="paymentForm.controls['date'].touched && paymentForm.hasError('required','date')">
                    *date is required</span>
            </div>
        </div>
        <div class="inputBox">
            <label>Select Your Location</label>
            <select name="bankname" class="inputBox" required formControlName="location">
                <option selected="selected" value="0">--select your location --</option>
                <option>Chennai</option>
                <option>Madurai</option>
                <option>Coimputhur</option>
                <option>Trichy</option>
                <option>Erode</option>
                <option>Namakal</option>
                <option>Selam</option>
            </select>
        </div>

        <h1 class="heading1"> <span>Event</span>Details</h1>
        <div class="inputBox">
            <label>Select Your Event</label>
            <select name="bankname" class="inputBox" required formControlName="service">
                <option selected="selected" value="0">--select your Event --</option>
                <option>entertainment</option>
                <option>Photos and Videos</option>
                <option>Birthday</option>
                <option>Weddings</option>
                <option>Concerts</option>
            </select>
            <label>Catagory</label>
            <select name="category" class="inputBox" required formControlName="category">
                <option selected="selected" value="0">--select your Catagory --</option>
                <option>platinum</option>
                <option>gold</option>
                <option>silver</option>
            </select>
        </div>

        <h1 class="heading1"> <span>Bank</span>Details</h1>
        <div class="inputBox">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="paymentForm.controls['ifsc'].touched && paymentForm.hasError('required','ifsc')">
                    *ifsc is required</span>
            </div>
            <input type="number" placeholder="enter your amount $" formControlName="amount">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="paymentForm.controls['amount'].touched && paymentForm.hasError('required','amount')">
                    *amount is required</span>
            </div>
        </div>

        <input type="submit" value="Book Now" class="btn">
        <a href="../../images/qr.svg"><img alt="image" src="../../images/qr.svg"></a>
    </form>