<section class="contact" id="contact">

    <h1 class="heading"> <span>Image</span> Add </h1>

    <form [formGroup]="imgForm" (ngSubmit)="saving(this.imgForm.value)">
        <div class="inputBox">
            <label for="ADD Image"></label>
            <input type="text" id="fileUpload" formControlName="upload" placeholder="Upload Image">
            <div class="validator">
                <span class="text-danger"
                    *ngIf="imgForm.controls['upload'].touched && imgForm.hasError('required','upload')">
                    *image upload is required</span>
            </div>
        </div>
        <input type="submit"  value="ADD Image" class="btn">
    </form>

</section>