<section class="service" id="service">

    <h1 class="heading"> our <span>Events</span> </h1>

    <div class="box-container">

        <div class="box">
            <a href="djparty"><i class="fas fa-music"></i></a>
            <h3>Dj Party</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>

        <div class="box">
            <a href="prewed"><i class="fas fa-envelope"></i></a>>
            <h3>Pre Wedding Photoshoot</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>

        <div class="box">
            <a href="funclup"><i class="fas fa-photo-video"></i></a>
            <h3>Fun Clup</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>


        <div class="box">
            <a href="photos"><i class="fas fa-photo-video"></i></a>
            <h3>photos and videos</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>

        <div class="box">
            <a href="customfood"><i class="fas fa-birthday-cake"></i></a>
            <h3>Catering</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>

        <div class="box">
            <a href="entertainment"><i class="fas fa-music"></i></a>
            <h3>Music Dance</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>

        <div class="box">
            <a href="venue"><i class="fas fa-map-marker-alt"></i></a>
            <h3>venue selection</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>

        <div class="box">
            <a href="invitation"><i class="fas fa-envelope"></i></a>>
            <h3>invitation card</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>

        
        <div class="box">
            <a href="foods"><i class="fas fa-utensils"></i></a>
            <h3>food and drinks</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
        </div>


    </div>

</section>