<section class="price" id="price">

    <h1 class="heading"> Our <span>Package</span> </h1>

    <div class="box-container">
        <div class="box" *ngFor="let user of alluserData">
            <h3 class="title">{{ user.event1 }}</h3>
            <h3 class="amount">{{ user.amount1 | currency:'INR'}}</h3>
            <ul>
                <li><em class="fas fa-check"></em>full services</li>
                <li> <em class="fas fa-check"></em> decorations </li>
                <li> <em class="fas fa-check"></em> music and photos </li>
                <li> <em class="fas fa-check"></em> food and drinks </li>
                <li> <em class="fas fa-check"></em> invitation card </li>
            </ul>
            <a routerLink="pay" class="btn">Book Now</a>
        </div>
    </div>


</section>