
<section class="gallery" id="gallery">

    <h1 class="heading">our <span>gallery</span></h1>

    <div class="box-container">

        <div class="box">
           <a href="anim"> <img src="images/g-1.jpg" alt=""></a>
            <h3 class="title">DJ</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <a href="anim"> <img src="images/g-2.jpg" alt=""></a>
            <h3 class="title">Wedding</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <a href="anim"><img src="images/g-3.jpg" alt=""></a>
            <h3 class="title">clup</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <a href="anim"><img src="images/g-4.jpg" alt=""></a>
            <h3 class="title">Birthday</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <a href="anim"><img src="images/g-5.jpg" alt=""></a>
            <h3 class="title">Pre wedding</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <a href="anim"><img src="images/g-6.jpg" alt=""></a>
            <h3 class="title">Holi</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <a href="anim"><img src="images/g-7.jpg" alt=""></a>
            <h3 class="title">Dance</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <a href="anim"><img src="images/g-8.jpg" alt=""></a>
            <h3 class="title">Engagement</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
        <a href="anim"><img src="images/g-9.jpg" alt=""></a>
            <h3 class="title">Price Party</h3>
            <div class="icons">
                <a href="galery" class="fas fa-heart"></a>
                <a href="galery" class="fas fa-share"></a>
                <a href="galery" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box" *ngFor="let user of alluserData">
            <a href="anim"><img alt="image" src="{{user.upload}}"></a>
                <h3 class="title">ENJOY !!!</h3>
                <div class="icons">
                    <a href="galery" class="fas fa-heart"></a>
                    <a href="galery" class="fas fa-share"></a>
                    <a href="galery" class="fas fa-eye"></a>
                </div>
            </div>

    </div>

</section>