
<section class="gallery" id="gallery">

    <h1 class="heading">Our <span>Gallery</span></h1>

    <div class="box-container">

        <div class="box" *ngFor="let user of alluserData">
            <a href="anim"><img alt="image" src="{{user.upload}}"></a>
                <h3 class="title">ENJOY !!!</h3>
                <div class="icons">
                    <a href="galery" class="fas fa-heart"></a>
                    <a href="galery" class="fas fa-share"></a>
                    <a href="galery" class="fas fa-eye"></a>
                </div>
            </div>

    </div>

</section>