<section class="review" id="review">

    <h1 class="heading">client's <span>review</span></h1>
    <div>
        <a href="feedback"><button class="btn1">Click Me!</button></a>
    </div><br>
    <div class="box-container">
        <div class="box" *ngFor="let user of alluserData">
            <a href="feedback"><em class="fas fa-quote-right"></em></a>
            <div class="user">
                <img src="../../images/icon.jpg" alt="">
                <div class="user-info">
                    <p>{{ user.name1 }} {{ user.event}}</p>
                    <p>{{ user.comment }}</p>
                </div>
            </div>
            <p>Online event management allows you to manage your event using technology solutions.
                Online event management software helps enhance event-goers' experience</p>
        </div><br>
    </div>

</section>